.card {
    background-color: var(--dark-secondary);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.card-container {
    display: flex;
    width: 95%;
    margin: 10px auto;
    gap: 10px;
}

.card-img img {
    height: 60px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body h3 {
    color: var(--dark-text-primary);
    font-family: var(--font-text-primary);
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 3px;
}

.card-body h4 {
    color: var(--dark-text-secondary);
    font-family: var(--font-text-primary);
    font-weight: 400;
    font-size: 0.9em;
}

.card-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}